.main {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: auto;
}

.main > *:first-child {
  margin: 0;
}

.main > *:nth-child(2) {
  margin: 0;
}

.main > * {
  margin-top: 15px;
}

.main > *:last-child {
  margin-bottom: 15px;
}

.intro {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 720px) {
  .intro {
    flex-direction: column;
    width: auto;
    margin-top: 16px !important;
  }
}

@media (max-width: 930px) {
  .main > * {
    margin-left: 15px;
    margin-right: 15px;
  }

  .main > *:nth-child(2) {
    margin: 0;
  }

  .main > *:first-child {
    margin: 0 15px;
  }

}