.main {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: auto;
}

.main>* {
  margin: 15px 0;
}

.intro {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
}

@media (max-width: 720px) {
  .intro {
    flex-direction: column;
    width: auto;
    margin-top: 30px;
  }
}

@media (max-width: 930px) {
  .intro {
    margin-left: 15px;
    margin-right: 15px;
  }

}